#! /bin/sh
alias python=python3
alias vi=nvim
alias vim=nvim
alias oldvim=\vim
alias kzsclr="source ~/unsetproxies.sh"
alias multpass=multipass.exe
alias multipass=multipass.exe
alias mp=multipass.exe
# Add an "alert" alias for long running commands.  Use like so:
#   sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
